<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eng.trabalhoengenharia2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegistrarContas" />
        <activity android:name=".GerarRelatorio" />
        <activity android:name=".TelaGerarRelatorio" />
        <activity android:name=".ExibirMes" />
        <activity android:name=".TelaExibirMes" />
        <activity android:name=".ExibirConta" />
        <activity android:name=".TelaExibirConta" />
        <activity android:name=".TelaCalculaVariacao"></activity>
    </application>

</manifest>